$brand-color: #e67e22;
$brand-color-dark: #cf711f;

$text-color-main: #333;
$text-color-link: #555;

$bg-color-main: white;
$bg-colr-hero: #fdf2e9;

$tint-light: #fdf2e9;
$tint-dark: #fae5d3;

$gray-700: #333;
$gray-500: #555;
$gray-300: #6f6f6f;

$green: #51cf66;
$lime: #94d82d;
$yellow: #ffd43b;
